{% extends 'base.html' %}
{% load static %}
{% block content %} 
{% if request.user.is_authenticated %}
<h1><strong>Posts</strong></h1>

{% for post in object_list %}
<ul>
  <li class="li">
    <a href="{% url 'post-details' post.pk %}">
      <h3>{{ post.title }}</h3>
    </a>
    <small>
        <strong> {{ post.post_date }} </strong>
    </small>
    <br />
    <small>
        <h6>
        {{ post.author.first_name }} {{ post.author.last_name }} |
         {{ post.author.email }}:
      </h6>
      </small>

    <br /><br />
    <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
    <br />
        {% if user.id == post.author.id %}
        {% comment %}
        <p>
        {{ post.body }} 
        {% endcomment %} {{ post.body|slice:":250" | safe }} [
        <small
            ><a href="{% url 'updating_posts' post.pk %}">[ Edit ]</a> |
            <a href="{% url 'deleting_posts' post.pk %}"> [ Delete ]</a></small
        >
        ]
        </p>
    {% endif %}
  </li>
</ul>
{% endfor %} 

{% else %}

<!-- Display for the homepage before user logs in -->

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>

    <div class="carousel-inner">

        <!-- First image slide -->
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="{% static 'blog/img/Screen.png' %}" class="d-block w-85">
        </div>

        <!-- Second image slide -->
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'blog/img/watermelon.jpg' %}" class="d-block w-50" alt="...">
        </div>

        <!-- Left and right buttons for the slideshow -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>    
{% endif %}
{% endblock %}