{% extends 'base.html' %}
{% block content %}
<h1><strong>Posts</strong></h1>


{% for post in object_list %}
<ul>
    <li>
        <a href ="{% url 'post-details' post.pk %}"> 
            <h3>{{ post.title }}</h3></a>
        <small><strong> {{ post.post_date }} </strong></small><br>
        <small><h7>{{ post.author.first_name }}
        {{ post.author.last_name }} |
        {{ post.author.email }}: </h7></small>
        <br><br>
        <a href ="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
        <br>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            {% comment %} <p>{{ post.body }}  {% endcomment %}
                {{ post.body|slice:":250" | safe }} [ <small><a href="{% url 'updating_posts' post.pk %}">[ Edit ]</a> |
                <a href="{% url 'deleting_posts' post.pk %}"> [ Delete ]</a></small> ]</p>
            {% endif %}
        {% endif %}
    </li>
</ul>

{% endfor %}
{% endblock %}